<div class="widget lazur-bg p-xl">
  <h2> Number of Tests with UKAS Data </h2>
  <span class="animate-number" data-value="<%=@lab_tests.count%>" data-animation-duration="1000"><%=@lab_tests.count.to_i%></span>
  <div class="progress transparent progress-small no-radius">
    <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="<%=((@lab_tests.count.to_f/@total_lab_tests)*100).to_i%>%" style="width: <%=((@lab_tests.count.to_f/@total_lab_tests)*100).to_i%>%;"></div>
  </div>
  <p>
    <span class="text-white mini-description ">Number of tests <span class="blend">with UKAS status out of <%=@total_lab_tests%></span>
  </span>
</p>
</div>
