<div class="widget yellow-bg p-lg text-center">
		<h2> Number of Labs Waiting for Updates </h2>
    <span class="animate-number" data-value="<%=@number_of_labs_waiting_for_update.count%>" data-animation-duration="1000"><%=@number_of_labs_waiting_for_update.count.to_i%>
    </span>
		<div class="progress transparent progress-small no-radius">
			<div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="<%=((@number_of_labs_waiting_for_update.count.to_f/@total_labs)*100).to_i%>%" style="width: <%=((@number_of_labs_waiting_for_update.count.to_f/@total_labs)*100).to_i%>%;"></div>
		</div>
		<p>
			<span class="text-white mini-description ">number of labs <span class="blend">waiting for update out of <%=@total_labs%>, <br><%=link_to 'Click to View',waiting_for_update_path%> </span>
			</span>
		</p>
</div>
