<div class="ibox float-e-margins">
  <%= render 'errors' %>
	<div class="ibox-title">
			<h4>Laboratory <span class="semi-bold">Address</span></h4>
		</div>
		<div class='ibox-content'>
			<%= form_for @laboratory do |f|%>
			<div class="form-group">
				<label class="form-label">Laboratory Name</label>
				<span class="help">The name of the laboratory</span>
				<div class="controls">
					<%= f.text_field :laboratory_name, class: 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<label class="form-label">Address Line 1</label>
				<span class="help">First line of the address</span>
				<div class="controls">
					<%= f.text_field :address1, class: 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<label class="form-label">Address Line 2</label>
				<span class="help">Second line of the address</span>
				<div class="controls">
					<%= f.text_field :address2, class: 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<label class="form-label">Address Line 3</label>
				<span class="help">Third line of the address</span>
				<div class="controls">
					<%= f.text_field :address3, class: 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<label class="form-label">City</label>
				<span class="help">City</span>
				<div class="controls">
					<%= f.text_field :city, class: 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<label class="form-label">Postcode</label>
				<span class="help">Postcode</span>
				<div class="controls">
					<%= f.text_field :postcode, class: 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<label class="form-label">Telephone</label>
				<span class="help">Telephone number of laboratory</span>
				<div class="controls">
					<%= f.text_field :telephone, class: 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<label class="form-label">Website</label>
				<span class="help">Website of the laboratory</span>
				<div class="controls">
					<%= f.text_field :website, class: 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<label class="form-label">Email</label>
				<span class="help">Email address of laboratory contact</span>
				<div class="controls">
					<%= f.text_field :email, class: 'form-control' %>
				</div>
			</div>
		<hr>
		<h4>Laboratory <span class="semi-bold">Details</span></h4>
			<div class="form-group">
				<label class="form-label">CPA Status</label>
				<span class="help">Is the laboratory CPA accrediated</span>
				<div class="controls">
					<%= f.text_field :cpa_status, class: 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<label class="form-label">CPA Reference Number</label>
				<span class="help">The CPA reference number</span>
				<div class="controls">
					<%= f.text_field :cpa_reference_number, class: 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<label class="form-label">Contact Name</label>
				<span class="help">The name of the person we can contact</span>
				<div class="controls">
					<%= f.text_field :contact_name, class: 'form-control' %>
				</div>
			</div>


			<div class='row m-t-10'>
<%= f.submit ("Submit"), class: 'btn btn-success btn-cons' %>
</div>
			<% end %>
		</div>
	</div>
</div>
