<table class="print_table">
  <tr>
    <td class='table_cell'>
      <p>Laboratory Address</p>
    </td>
    <td colspan=3 class="table_cell">
      <address>
        <%=laboratory.laboratory_name%><br>
        <%=laboratory.address1%><br>
        <%=laboratory.address2%><br>
        <%=laboratory.address3%><br>
        <%=laboratory.city%><br>
        <%=laboratory.postcode%>
      </address>
    </td>
  </tr>
  <tr>
    <td class='table_cell'>
      <p>Contact Name</p>
    </td>
    <td class='table_cell'>
    </td>
    <td class='table_cell'>
      <p>Email address</p>
    </td>
    <td class='table_cell'>
    </td>
  </tr>
  <tr class='row_highlight'>
    <td colspan=4>
      <p><b>CPA Accreditation</b></b><br>Please circle appropriate accreditation status</p></p>
    </td>
  </tr>
  <tr>
    <td class='table_cell'>
      <p>Accreditation Date</p>
    </td>
    <td colspan=3 class='table_cell'>
    </td>
  </tr>
  <tr>
    <td class='table_cell'>
      <p>Registration Number</p>
    </td>
    <td colspan=3 class='table_cell'>
    </td>
  </tr>
  <tr>
    <td class='table_cell'>
    </td>
    <td class='table_cell'>
      <p>Full	Accreditation</p>
    </td>
    <td class='table_cell'>
      <p>Accreditation Suspended</p>
    </td>
    <td class='table_cell'>
      <p>Not Registered</p>
    </td>
  </tr>
  <tr class='row_highlight'>
    <td colspan=4>
      <p><b>Accreditation to ISO 15189</b><br>Please circle appropriate accreditation status</p>
    </td>
  </tr>
  <tr>
    <td class='table_cell'>
      <p>Accreditation Date</p>
    </td>
    <td class='table_cell' colspan="3">

    </td>
  </tr>

  <tr>
    <td class='table_cell'>
      <p>Awaiting Accreditation </p>
    </td>
    <td class='table_cell'>
      <p>Full Accreditation</p>
    </td>
    <td class='table_cell'>
      <p>Accreditation Suspended</p>
    </td>
    <td class='table_cell'>
      <p>Not Registered</p>
    </td>
  </tr>
  <tr>
    <td class='table_cell' colspan="4"><p>If awaiting accreditation to ISO 15189
      please give details of what stage in the process you are at:</p>
    </td>
  </tr>
  <tr>
    <td class='table_cell' colspan="4">
    </td>
  </tr>
</table>
