<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="grid simple ">
			<div class="grid-title no-border">
				<h4>Laboratory <span class="semi-bold">Tests</span></h4>
			</div>
			<div class="grid-body no-border">
				<table class="table table-hover no-more-tables">
					<thead>
						<tr>
							<th>Investigation</th>
							<th>Laboratory Name</th>
							<th>Address</th>
							<th></th>
							<th></th>
							<th>City</th>
							<th>Postcode</th>
						</tr>
					</thead>
					<tbody>
						<% repertoire.each do |rep| %>
						<tr>
							<td><%=rep.laboratory_test.analyte_name%></td>
							<td><%=rep.laboratory_test.laboratory.laboratory_name%></td>
							<td><%=rep.laboratory_test.laboratory.address1%></td>
							<td><<%=rep.laboratory_test.laboratory.address2%></td>
							<td><%=rep.laboratory_test.laboratory.address3%></td>
							<td><%=rep.laboratory_test.laboratory.city%></td>
							<td><%=rep.laboratory_test.laboratory.postcode%></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>