<tr>
  <td class="eqa_participation">
    <%=labtest.eqa_status%>
  </td>

  <td class="eqa_participation">
    <%=labtest.eqa_provider%>
  </td>

  <td class="eqa_participation">
    <%=labtest.eqa_performance%>
  </td>

  <td colspan="2" class="eqa_participation">
    <%=labtest.ukas_status%> <%=labtest.ukas_reference_number%>
  </td>
</tr>
