<div class="page landscape">
	<div class='tests'>
		<p>Please complete the
			following information for each test that you provide for our laboratory. We have prefilled the table with the infomation we currently have in our database</p>
			<%= render 'tests_info_header' %>
			<% count = 1 %>
			<% laboratory.laboratory_tests.each do |labtest| %>
			<% if count % 6 == 0 %>
		</table>
	</div>
</div>
<div class="page landscape" >
	<div class='tests'>
	<%= render 'tests_info_header' %>
	<%end%>
	<tr style="height:100px;">
		<td class="table_cell">
		<b><%=labtest.analyte_name%></b>
	</td>
	<td class="accred_status">
	<%=labtest.ukas_status%>
	<%=ukas_status_html(labtest.ukas_status)%>
</td>
<td class="methodology">
<%=labtest.methodology%>
</td>
<td class='reference_range'>
<%=labtest.reference_range%>
</td>
<td class="eqa_participation">
<div class="eqa_status">
	Participation in EQA: <b><%=labtest.eqa_status%></b>
</div>
<div class="eqa_status">
	EQA Provider: <b><%=labtest.eqa_provider%></b>
</div>
<div class="eqa_status">
	Satisfactory Performance: <b><%=labtest.eqa_performance%></b>
</div>
</td>
<td class="tat">
<%=labtest.turnaround_time%>
</td>
<td class='sample_requirements'>
<div class="sample_collection">
	Measured on (sample type):<%=labtest.sample_type%>
</div>
<div class="sample_collection">
	Any Special collection requirements: <%=labtest.special_collection_requirements%>
</div>

</div>
</td>
<td class='cost'>
<%=labtest.cost_of_test%>
</td>
<td class='uom'>
<%=labtest.uncertainty_of_measurement%>
</td>
</tr>
<% count += 1 %>
<%end%>

</table>
</div>

</div>
