<% content_for :content_title do %>
<%=@laboratory.laboratory_name%>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  <%= render partial: 'shared/map.js', locals: {longitude: @laboratory.longitude, latitude: @laboratory.latitude, index: 1} %>
  <%= render partial: 'shared/dashboard_sparklines.js', locals: {dashboard_data: @dashboard_data} %>
</script>
<% end %>
<%= render 'dashboard' %>
<div class="row">
 <div class="col-lg-6">
    <%= render partial: 'procedure', locals: {laboratory: @laboratory, dashboard_data: @dashboard_data} %>
  </div>
  <div class="col-lg-6">
    <%= render  partial: 'location_map', locals: {laboratory: @laboratory} %>
  </div>
</div>