<table class="table table-bordered no-more-tables">
	<thead>
		<tr>
			<th>Name</th>
			<th>EQA</th>
			<th>TAT</th>
			<th>UKAS</th>
			<th>Method</th>
			<th>Ref Range</th>
			<th>Sample</th>
			<th>Cost</th>
			<th>Tools</th>
		</tr>
	</thead>
	<tbody>
		<% @laboratory_tests.each do |laboratory_test| %>
		<tr>
			<td>
			<%=laboratory_test.analyte_name%>
		  <span data-toggle="tooltip" title="" data-placement="right"
			data-original-title="<%=laboratory_test.laboratory.laboratory_name + ' ' +laboratory_test.laboratory.address1%>" class="badge badge-info"></span></td>
			<td><%=laboratory_test.eqa_status%></td>
			<td><%=laboratory_test.turnaround_time%></td>
			<td><%=laboratory_test.ukas_status%></td>
			<td><%=laboratory_test.methodology%></td>
			<td><%=laboratory_test.reference_range%></td>
			<td><%=laboratory_test.sample_type%></td>
			<td><%=laboratory_test.cost_of_test%></td>
			<td>
			<%= test_in_repertoire?(laboratory_id: @current_laboratory_being_managed, laboratory_test: laboratory_test) %>
				
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
