<%unless current_user.nil?%>
<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
            <img alt="image" class="img-circle" src="<%= image_url 'profile_small.jpg' %>"/>
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">Hospital Account Manager</strong>
              </span> <span class="text-muted text-xs block">Your Account <b class="caret"></b></span>
            </span>
          </a>

          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <% current_user.laboratories.each do |laboratory| %>
            <li>
              <a href="<%= laboratory_path(laboratory)%>"><%=laboratory.laboratory_name%></a>
            </li>
            <% end %>
            <li class="divider"></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :get) %>
            </li>
          </ul>

        </div>
      </li>

      <li class="">
        <a href=""><i class="fa fa-cogs"></i> <span class="nav-label">Manage Repertoire For Laboratory</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse" style="height: 0px;">
          <% current_user.laboratories.each do |laboratory| %>
          <li>
            <%=link_to "<i class='fa fa-hospital-o'></i> Build repertoire for #{laboratory.laboratory_name}".html_safe, build_repertoire_path(laboratory)%>
          </li>
          <li>
            <%=link_to "<i class='fa fa-hospital-o'></i> View repertoire for #{laboratory.laboratory_name}".html_safe, repertoire_for_laboratory_path(:laboratory_id => laboratory.id)%>
          </li>
          <% end %>
        </ul>
      </li>

        <%= render 'layouts/lab_manager_functions_menu' %>

    </ul>

  </div>
</nav>
<% end %>
 

 